
<div class="container">
<h1>Unesite kod sa kartice</h1>
<%= form_for :code, url: kod_path do |f|%>
<div class="input-group">
<%=f.text_field :sifra, class: "form-control", placeholder: "Unesite kod sa tiketa",maxlength: "6", required:true%><br>

<span class="input-group-btn">
<%=f.submit 'Go', type: "button", class:"btn btn-default"%>
</span>
</div>
<%end%>
<div>

